/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*Размер главного заголовка первой секции*/

$font-colormainheader:#49505F;

/*Font color headers names*/

$font-colorheaders:#49505F;

/*Цвет шрифтов основного текста*/

$font-colorofmaintext: black;

/*Отступы заголовков*/

$indenting-headers: 15px;

/*Размер шрифтов заголовков*/

$headline-fonts:30px;

/*Тип шрифтов*/

$font-stack: 'Merriweather',
serif;

/*Первая секция*/

h1#name {
	margin-top: $indenting-headers;
	color: $font-colormainheader;
	font-size: 60px;
	text-transform: uppercase;
}

h4#work {
	color: $font-colormainheader;
	font-size: 25px;
	padding-bottom: 20px;
}


/*Вторая секция*/

.menu-categoriesnamesOfAll-title {
	font-family: $font-stack;
	font-size: $headline-fonts;
	margin-top: $indenting-headers;
	margin-bottom: $indenting-headers;
	padding-top: $indenting-headers;
	color: $font-colorheaders;

}





/*Последняя секция контактов*/

.card-title {

	font-family: $font-stack;
}
/***Contact form***/

.contact-content h1 {
	color: $font-colorofmaintext;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-size: $headline-fonts;
}

.contact-content p {
	background: rgba(132, 120, 120, 0.71) none repeat scroll 0 0;
	border-radius: 5px;
	color: $font-colorofmaintext;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 20px 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	h1#name {
		color: $font-colormainheader;
		font-size: 45px;
		text-transform: uppercase;
	}
	h4#work {
		color: $font-colormainheader;
		font-size: 40px;
		text-shadow: 1px 1px #333;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	h1#name {
		color: $font-colormainheader;
		font-size: 40px;
		text-transform: uppercase;
	}
	h4#work {
		color: $font-colormainheader;
		font-size: 30px;
	}
}


/********** Extra small devices only **********/

@media (min-width: 100px) and (max-width: 767px) {
  .category-tile-project {

    width: 510px;
    height: 530px;
    margin-bottom: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  }

  .card-body {
    width: 80vw;
    height: 80vw;
  }
  .imgProject {
    width: 80vw;
    height: 80vw;

  }
	h1#name {
		color: $font-colormainheader;
		font-size: 35px;
		text-transform: uppercase;
	}
	h4#work {
		text-align: center;
		color: $font-colormainheader;
	}
}
