/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

/*Размер главного заголовка первой секции*/

$font-colormainheader:#49505F;

/*Font color headers names*/

$font-colorheaders:#49505F;

/*Цвет шрифтов основного текста*/

$font-colorofmaintext: black;

/*Отступы заголовков*/

$indenting-headers: 15px;

/*Размер шрифтов заголовков*/

$headline-fonts:30px;

/*Тип шрифтов*/

$font-stack: 'Merriweather',
serif;

$color-bloks: rgba(247, 247, 247, 0.99);

/*Первая секция*/

h1#name {
	margin-top: $indenting-headers;
	color: $font-colormainheader;
	font-size: 60px;
	text-transform: uppercase;
}

h4#work {
	color: $font-colormainheader;
	font-size: 25px;
	padding-bottom: 20px;
}


/*Вторая секция*/

.menu-categoriesnamesOfAll-title {
	font-family: $font-stack;
	font-size: $headline-fonts;
	margin-top: $indenting-headers;
	margin-bottom: $indenting-headers;
	padding-top: $indenting-headers;
	color: $font-colorheaders;

}


@media (min-width: 992px) and (max-width: 1199px) {
	/****Education****/
	#aboutme {
		background: $color-bloks;
		height: 580px;
	}
	.infoAboutMe {
		position: relative;
	}

	.mainDisplyPic {
		z-index: 1;
		width: 950px;
		height: 490px;
	}

	.formAboutme {
		bottom: 500px;
		z-index: 2;
		box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
		width: 450px;
		height: 300px;
		border-radius: 3%;
		border: 2px outset #ff5026;
		z-index: 2;
	}

	.nameAbounme {
		width: 350px;
		z-index: 2;
		color: #49505F;
		bottom: 510px;
		font-family: 'Merriweather', serif;
		font-size: 25px;
	}

	.list {
		color: black;
		position: absolute;
		margin: 20px;
		padding-bottom: 2px;
	}

	hr {
		margin-top: 0px;
		width: 300px;
	}
	.container#infoAboutme {

		background: $color-bloks;
		height: 510px;
	}
	/*END Education*/
	//start first section
	h1#name {
		color: $font-colormainheader;
		font-size: 45px;
		text-transform: uppercase;
	}
	h4#work {
		color: $font-colormainheader;
		font-size: 40px;
		text-shadow: 1px 1px #333;
	}
	//end first section
	.card-body {
		background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	/****Education****/
	#aboutme {
		background: $color-bloks;
		height: 560px;
	}
	.infoAboutMe {
		position: relative;
	}

	.mainDisplyPic {
		z-index: 1;
		width: 730px;
		height: 490px;
	}

	.formAboutme {
		bottom: 500px;
		z-index: 2;
		box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
		width: 450px;
		height: 300px;
		border-radius: 3%;
		border: 2px outset #ff5026;
		z-index: 2;
	}

	.nameAbounme {
		width: 350px;
		z-index: 2;
		color: #49505F;
		bottom: 510px;
		font-family: 'Merriweather', serif;
		font-size: 25px;
	}

	.list {
		color: black;
		position: absolute;
		margin: 20px;
		padding-bottom: 2px;
	}

	hr {
		margin-top: 0px;
		width: 300px;
	}
	.container#infoAboutme {

		background: $color-bloks;
		height: 495px;
	}
	/*END Education*/
	//start first section
	h1#name {
		margin-top: 10px;
		color: $font-colormainheader;
		font-size: 35px;
		text-transform: uppercase;
	}
	h4#work {

		color: $font-colormainheader;
		font-size: 25px;
	}
	//end first section

	//start carusel
	.card-body {
		background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
	}
	#blocks {

		width: 200px;
		height: 250px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
		position: relative;
		display: inline-block;
		background-color: white;
		overflow: hidden;
		margin-left: 30px;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 15px;

	}
	.listButto {
		margin-top: 90px;
		left: 40px;
		position: absolute;
		z-index: 2;
		background-color: #ff5026;

	}
	.image {
		z-index: 1;
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 200px;
		height: 150px;
	}
	//	end carusel


}


/********** Extra small devices only **********/

@media (min-width: 479px) and (max-width: 767px) {
	//start first section
	h1#name {
		color: $font-colormainheader;
		font-size: 35px;
		text-transform: uppercase;
	}
	h4#work {
		text-align: center;
		color: $font-colormainheader;
	}
	//end first section

	//start cards
  .category-tile-project {

	  width: 210px;
	  height: 415px;
    margin-bottom: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  }

  .card-body {
	  background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
	  position: relative;
	  padding-bottom: 0px;
	  margin-top: 0px;
	  padding-top: 5px;
	  padding-left: 10px;
	  padding-right: 12px;
	  width: 210px;
	  height: 282px;
  }
	.projectItemButton {
		font-size: 10px;
		width: 100px;
		height: 30px;
		position: absolute;
		margin-left: 0px;
		margin-bottom: 3px;
		right: 0px;
		margin-right: 12px;
	}
	.card-title {
		margin-bottom: 0px;
	}
	.card-text {
		margin-top: 0px;
		font-size: 14px;
		height: 200px;
	}

  .imgProject {
	  margin-bottom: 2px;
	  width: 210px;
	  height: 130px;
  }
	//end cards

	//start carusel

	#blocks {

		width: 20vw;
		height: 23vw;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
		position: relative;
		display: inline-block;
		background-color: white;
		overflow: hidden;
		margin-left: 30px;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 15px;

	}
	.listButto {
		bottom: 0px;
		width: 55px;
		height: 30px;
		margin-left: -15px;
		margin-bottom: 40px;
		left: 40px;
		position: absolute;
		z-index: 2;
		background-color: #ff5026;
		font-family: 'Merriweather Sans', sans-serif;
		color: yellow;
		font-size: 10px;
		padding: 5px;
		text-align: center;

	}
	.controlButtons {
		width: 80px;
		height: 30px;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 12px;
		text-align: center;
		padding-right: 0px;
		padding-left: 3px;
		color: white;
	}

	.image {
		z-index: 1;
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 20vw;
		height: 15vw;
	}
	//	end carusel


	/****Education****/
	#aboutme {
		background: $color-bloks;
		height: 620px;
	}
	.infoAboutMe {
		position: relative;
	}

	.mainDisplyPic {
		z-index: 1;
	}


	.formAboutme {
		bottom: 500px;
		z-index: 2;
		box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
		width: 80vw;
		height: 400px;
		border-radius: 3%;
		border: 2px outset #ff5026;

	}

	.nameAbounme {
		width: 350px;
		z-index: 2;
		color: #49505F;
		bottom: 510px;
		font-family: 'Merriweather', serif;
		font-size: 25px;
	}

	.list {
		color: black;
		position: absolute;
		margin: 20px;
		padding-bottom: 2px;
		width: 310px;
	}

	hr {
		margin-top: 0px;
		width: 270px;
	}
	.container#infoAboutme {

		background: $color-bloks;
		height: 550px;
	}

	/*END Education*/
}

@media (max-width: 478px) {
	.col-xxs-12 {

		background: rgba(247, 247, 247, 0.99);
		margin-bottom: 30px;
	}
	//start first section
	h1#name {

		font-size: 30px;

	}
	h4#work {
		font-size: 20px;
	}
	//end first section

	//Start cards
	.category-tile-project {
		margin: auto;
		width: 250px;
		height: 450px;
		background-color: rgba(247, 247, 247, 0.99);
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
	}

	.card-body {
		//background: rgba(247, 247, 247, 0.99);
		background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
		position: relative;
		padding-bottom: 0px;
		margin-top: 0px;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 12px;
		width: 250px;
		height: 219px;
	}
	.imgProject {

		width: 250px;
		height: 154px;
	}
	.projectItemButton {

		position: absolute;
		margin-bottom: 3px;
		right: 0px;
		margin-right: 12px;
	}
	//End cards

	//start carusel

	#blocks {

		width: 90px;
		height: 120px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
		position: relative;
		display: inline-block;
		background-color: white;
		overflow: hidden;
		margin-left: 30px;


	}
	.listButto {
		bottom: 0px;
		width: 50px;
		height: 30px;
		margin-left: -18px;
		margin-bottom: 40px;
		left: 40px;
		position: absolute;
		z-index: 2;
		background-color: #ff5026;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 8px;
		padding: 5px;
		text-align: center;
	}
	.controlButtons {
		width: 70px;
		height: 30px;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 12px;
		text-align: center;
		padding-right: 0px;
		padding-left: 3px;
	}
	.image {
		z-index: 1;
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 90px;
		height: 50px;
	}
	.nameListButton {
		font-family: $font-stack;
		font-size: 12px;
	}

	//	end carusel
	/****Education****/
	.infoAboutMe {
		position: relative;
	}

	.mainDisplyPic {
		z-index: 1;
		height: 600px;
	}

	.formAboutme {
		bottom: 500px;
		z-index: 2;
		box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
		width: 80vw;
		height: 550px;
		border-radius: 3%;
		border: 2px outset #ff5026;

	}

	.nameAbounme {
		width: 350px;
		z-index: 2;
		color: #49505F;
		bottom: 510px;
		font-family: 'Merriweather', serif;
		font-size: 25px;
	}

	.list {
		color: black;
		position: absolute;
		margin: 20px;
		padding-bottom: 2px;
		width: 60vw;
	}

	hr {
		margin-top: 0px;
		width: 50vw;
	}
	#aboutme {
		background: $color-bloks;
		height: 820px;
	}
	.container#infoAboutme {

		background: $color-bloks;
      height: 751px;
	}
	/*END Education*/
}
