/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

/*Размер главного заголовка первой секции*/

$font-colormainheader:#49505F;

/*Font color headers names*/

$font-colorheaders:#49505F;

/*Цвет шрифтов основного текста*/

$font-colorofmaintext: black;

/*Отступы заголовков*/

$indenting-headers: 15px;

/*Размер шрифтов заголовков*/

$headline-fonts:30px;

/*Тип шрифтов*/

$font-stack: 'Merriweather',
serif;

/*Первая секция*/

h1#name {
	margin-top: $indenting-headers;
	color: $font-colormainheader;
	font-size: 60px;
	text-transform: uppercase;
}

h4#work {
	color: $font-colormainheader;
	font-size: 25px;
	padding-bottom: 20px;
}


/*Вторая секция*/

.menu-categoriesnamesOfAll-title {
	font-family: $font-stack;
	font-size: $headline-fonts;
	margin-top: $indenting-headers;
	margin-bottom: $indenting-headers;
	padding-top: $indenting-headers;
	color: $font-colorheaders;

}


/*Последняя секция контактов*/

.card-title {

	font-family: $font-stack;
}
/***Contact form***/

.contact-content h1 {
	color: $font-colorofmaintext;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-size: $headline-fonts;
}

.contact-content p {
	background: rgba(132, 120, 120, 0.71) none repeat scroll 0 0;
	border-radius: 5px;
	color: $font-colorofmaintext;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 20px 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {

	//start first section
	h1#name {
		color: $font-colormainheader;
		font-size: 45px;
		text-transform: uppercase;
	}
	h4#work {
		color: $font-colormainheader;
		font-size: 40px;
		text-shadow: 1px 1px #333;
	}
	//end first section
}

@media (min-width: 768px) and (max-width: 991px) {
	//start first section
	h1#name {
		margin-top: 10px;
		color: $font-colormainheader;
		font-size: 35px;
		text-transform: uppercase;
	}
	h4#work {

		color: $font-colormainheader;
		font-size: 25px;
	}
	//end first section

	//start carusel

	#blocks {

		width: 200px;
		height: 250px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
		position: relative;
		display: inline-block;
		background-color: white;
		overflow: hidden;
		margin-left: 30px;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 15px;

	}
	.listButto {
		margin-top: 90px;
		left: 40px;
		position: absolute;
		z-index: 2;
		background-color: #ff5026;

	}
	.image {
		z-index: 1;
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 200px;
		height: 150px;
	}
	//	end carusel


}


/********** Extra small devices only **********/

@media (min-width: 479px) and (max-width: 767px) {
	//start first section
	h1#name {
		color: $font-colormainheader;
		font-size: 35px;
		text-transform: uppercase;
	}
	h4#work {
		text-align: center;
		color: $font-colormainheader;
	}
	//end first section

	//start cards
  .category-tile-project {

	  width: 210px;
	  height: 415px;
    margin-bottom: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  }

  .card-body {
	  background: rgba(247, 247, 247, 0.99);
	  position: relative;
	  padding-bottom: 0px;
	  margin-top: 0px;
	  padding-top: 5px;
	  padding-left: 10px;
	  padding-right: 12px;
	  width: 210px;
	  height: 282px;
  }
	.projectItemButton {
		font-size: 10px;
		width: 100px;
		height: 30px;
		position: absolute;
		margin-left: 0px;
		margin-bottom: 3px;
		right: 0px;
		margin-right: 12px;
	}
	.card-title {
		margin-bottom: 0px;
	}
	.card-text {
		margin-top: 0px;
		font-size: 14px;
		height: 200px;
	}

  .imgProject {
	  margin-bottom: 2px;
	  width: 210px;
	  height: 130px;
  }
	//end cards

	//start carusel

	#blocks {

		width: 180px;
		height: 210px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
		position: relative;
		display: inline-block;
		background-color: white;
		overflow: hidden;
		margin-left: 30px;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 15px;

	}
	.listButto {
		margin-top: 90px;
		left: 40px;
		position: absolute;
		z-index: 2;
		background-color: #ff5026;

	}
	.image {
		z-index: 1;
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 180px;
		height: 140px;
	}
	//	end carusel
}

@media (max-width: 478px) {
	.col-xxs-12 {

		background: rgba(247, 247, 247, 0.99);
		margin-bottom: 30px;
	}
	//start first section
	h1#name {

		font-size: 30px;

	}
	h4#work {
		font-size: 20px;
	}
	//end first section

	//Start cards
	.category-tile-project {
		margin: auto;
		width: 250px;
		height: 450px;
		background-color: rgba(247, 247, 247, 0.99);
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
	}

	.card-body {
		background: rgba(247, 247, 247, 0.99);
		position: relative;
		padding-bottom: 0px;
		margin-top: 0px;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 12px;
		width: 250px;
		height: 219px;
	}
	.imgProject {

		width: 250px;
		height: 230px;
	}
	.projectItemButton {

		position: absolute;
		margin-bottom: 3px;
		right: 0px;
		margin-right: 12px;
	}
	//End cards

	//start carusel

	#blocks {

		width: 90px;
		height: 100px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
		position: relative;
		display: inline-block;
		background-color: white;
		overflow: hidden;
		margin-left: 30px;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 15px;

	}
	.listButto {
		margin-top: 90px;
		left: 40px;
		position: absolute;
		z-index: 2;
		background-color: #ff5026;

	}
	.image {
		z-index: 1;
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 90px;
		height: 50px;
	}
	//	end carusel
}
