@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*╨а╨░╨╖╨╝╨╡╤А ╨│╨╗╨░╨▓╨╜╨╛╨│╨╛ ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨░ ╨┐╨╡╤А╨▓╨╛╨╣ ╤Б╨╡╨║╤Ж╨╕╨╕*/
/*Font color headers names*/
/*╨ж╨▓╨╡╤В ╤И╤А╨╕╤Д╤В╨╛╨▓ ╨╛╤Б╨╜╨╛╨▓╨╜╨╛╨│╨╛ ╤В╨╡╨║╤Б╤В╨░*/
/*╨Ю╤В╤Б╤В╤Г╨┐╤Л ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨╛╨▓*/
/*╨а╨░╨╖╨╝╨╡╤А ╤И╤А╨╕╤Д╤В╨╛╨▓ ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨╛╨▓*/
/*╨в╨╕╨┐ ╤И╤А╨╕╤Д╤В╨╛╨▓*/
/*╨Я╨╡╤А╨▓╨░╤П ╤Б╨╡╨║╤Ж╨╕╤П*/
/* line 37, ../sass/screen.scss */
h1#name {
  margin-top: 15px;
  color: #49505F;
  font-size: 60px;
  text-transform: uppercase;
}

/* line 44, ../sass/screen.scss */
h4#work {
  color: #49505F;
  font-size: 25px;
  padding-bottom: 20px;
}

/*╨Т╤В╨╛╤А╨░╤П ╤Б╨╡╨║╤Ж╨╕╤П*/
/* line 53, ../sass/screen.scss */
.menu-categoriesnamesOfAll-title {
  font-family: "Merriweather", serif;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  color: #49505F;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /****Education****/
  /* line 66, ../sass/screen.scss */
  #aboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 580px;
  }

  /* line 70, ../sass/screen.scss */
  .infoAboutMe {
    position: relative;
  }

  /* line 74, ../sass/screen.scss */
  .mainDisplyPic {
    z-index: 1;
    width: 950px;
    height: 490px;
  }

  /* line 80, ../sass/screen.scss */
  .formAboutme {
    bottom: 500px;
    z-index: 2;
    box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
    width: 450px;
    height: 300px;
    border-radius: 3%;
    border: 2px outset #ff5026;
    z-index: 2;
  }

  /* line 91, ../sass/screen.scss */
  .nameAbounme {
    width: 350px;
    z-index: 2;
    color: #49505F;
    bottom: 510px;
    font-family: 'Merriweather', serif;
    font-size: 25px;
  }

  /* line 100, ../sass/screen.scss */
  .list {
    color: black;
    position: absolute;
    margin: 20px;
    padding-bottom: 2px;
  }

  /* line 107, ../sass/screen.scss */
  hr {
    margin-top: 0px;
    width: 300px;
  }

  /* line 111, ../sass/screen.scss */
  .container#infoAboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 510px;
  }

  /*END Education*/
  /* line 118, ../sass/screen.scss */
  h1#name {
    color: #49505F;
    font-size: 45px;
    text-transform: uppercase;
  }

  /* line 123, ../sass/screen.scss */
  h4#work {
    color: #49505F;
    font-size: 40px;
    text-shadow: 1px 1px #333;
  }

  /* line 129, ../sass/screen.scss */
  .card-body {
    background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /****Education****/
  /* line 136, ../sass/screen.scss */
  #aboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 560px;
  }

  /* line 140, ../sass/screen.scss */
  .infoAboutMe {
    position: relative;
  }

  /* line 144, ../sass/screen.scss */
  .mainDisplyPic {
    z-index: 1;
    width: 730px;
    height: 490px;
  }

  /* line 150, ../sass/screen.scss */
  .formAboutme {
    bottom: 500px;
    z-index: 2;
    box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
    width: 450px;
    height: 300px;
    border-radius: 3%;
    border: 2px outset #ff5026;
    z-index: 2;
  }

  /* line 161, ../sass/screen.scss */
  .nameAbounme {
    width: 350px;
    z-index: 2;
    color: #49505F;
    bottom: 510px;
    font-family: 'Merriweather', serif;
    font-size: 25px;
  }

  /* line 170, ../sass/screen.scss */
  .list {
    color: black;
    position: absolute;
    margin: 20px;
    padding-bottom: 2px;
  }

  /* line 177, ../sass/screen.scss */
  hr {
    margin-top: 0px;
    width: 300px;
  }

  /* line 181, ../sass/screen.scss */
  .container#infoAboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 495px;
  }

  /*END Education*/
  /* line 188, ../sass/screen.scss */
  h1#name {
    margin-top: 10px;
    color: #49505F;
    font-size: 35px;
    text-transform: uppercase;
  }

  /* line 194, ../sass/screen.scss */
  h4#work {
    color: #49505F;
    font-size: 25px;
  }

  /* line 202, ../sass/screen.scss */
  .card-body {
    background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
  }

  /* line 205, ../sass/screen.scss */
  #blocks {
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
    position: relative;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    margin-left: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
  }

  /* line 219, ../sass/screen.scss */
  .listButto {
    margin-top: 90px;
    left: 40px;
    position: absolute;
    z-index: 2;
    background-color: #ff5026;
  }

  /* line 227, ../sass/screen.scss */
  .image {
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 200px;
    height: 150px;
  }
}
/********** Extra small devices only **********/
@media (min-width: 479px) and (max-width: 767px) {
  /* line 245, ../sass/screen.scss */
  h1#name {
    color: #49505F;
    font-size: 35px;
    text-transform: uppercase;
  }

  /* line 250, ../sass/screen.scss */
  h4#work {
    text-align: center;
    color: #49505F;
  }

  /* line 257, ../sass/screen.scss */
  .category-tile-project {
    width: 210px;
    height: 415px;
    margin-bottom: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  }

  /* line 265, ../sass/screen.scss */
  .card-body {
    background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
    position: relative;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 12px;
    width: 210px;
    height: 282px;
  }

  /* line 276, ../sass/screen.scss */
  .projectItemButton {
    font-size: 10px;
    width: 100px;
    height: 30px;
    position: absolute;
    margin-left: 0px;
    margin-bottom: 3px;
    right: 0px;
    margin-right: 12px;
  }

  /* line 286, ../sass/screen.scss */
  .card-title {
    margin-bottom: 0px;
  }

  /* line 289, ../sass/screen.scss */
  .card-text {
    margin-top: 0px;
    font-size: 14px;
    height: 200px;
  }

  /* line 295, ../sass/screen.scss */
  .imgProject {
    margin-bottom: 2px;
    width: 210px;
    height: 130px;
  }

  /* line 304, ../sass/screen.scss */
  #blocks {
    width: 20vw;
    height: 23vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
    position: relative;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    margin-left: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
  }

  /* line 318, ../sass/screen.scss */
  .listButto {
    bottom: 0px;
    width: 55px;
    height: 30px;
    margin-left: -15px;
    margin-bottom: 40px;
    left: 40px;
    position: absolute;
    z-index: 2;
    background-color: #ff5026;
    font-family: 'Merriweather Sans', sans-serif;
    color: yellow;
    font-size: 10px;
    padding: 5px;
    text-align: center;
  }

  /* line 335, ../sass/screen.scss */
  .controlButtons {
    width: 80px;
    height: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-right: 0px;
    padding-left: 3px;
    color: white;
  }

  /* line 346, ../sass/screen.scss */
  .image {
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 20vw;
    height: 15vw;
  }

  /****Education****/
  /* line 358, ../sass/screen.scss */
  #aboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 620px;
  }

  /* line 362, ../sass/screen.scss */
  .infoAboutMe {
    position: relative;
  }

  /* line 366, ../sass/screen.scss */
  .mainDisplyPic {
    z-index: 1;
  }

  /* line 371, ../sass/screen.scss */
  .formAboutme {
    bottom: 500px;
    z-index: 2;
    box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
    width: 80vw;
    height: 400px;
    border-radius: 3%;
    border: 2px outset #ff5026;
  }

  /* line 382, ../sass/screen.scss */
  .nameAbounme {
    width: 350px;
    z-index: 2;
    color: #49505F;
    bottom: 510px;
    font-family: 'Merriweather', serif;
    font-size: 25px;
  }

  /* line 391, ../sass/screen.scss */
  .list {
    color: black;
    position: absolute;
    margin: 20px;
    padding-bottom: 2px;
    width: 310px;
  }

  /* line 399, ../sass/screen.scss */
  hr {
    margin-top: 0px;
    width: 270px;
  }

  /* line 403, ../sass/screen.scss */
  .container#infoAboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 550px;
  }

  /*END Education*/
}
@media (max-width: 478px) {
  /* line 413, ../sass/screen.scss */
  .col-xxs-12 {
    background: rgba(247, 247, 247, 0.99);
    margin-bottom: 30px;
  }

  /* line 419, ../sass/screen.scss */
  h1#name {
    font-size: 30px;
  }

  /* line 424, ../sass/screen.scss */
  h4#work {
    font-size: 20px;
  }

  /* line 430, ../sass/screen.scss */
  .category-tile-project {
    margin: auto;
    width: 250px;
    height: 450px;
    background-color: rgba(247, 247, 247, 0.99);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  }

  /* line 438, ../sass/screen.scss */
  .card-body {
    background: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 20%, #FFFFFF 100%);
    position: relative;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 12px;
    width: 250px;
    height: 219px;
  }

  /* line 450, ../sass/screen.scss */
  .imgProject {
    width: 250px;
    height: 154px;
  }

  /* line 455, ../sass/screen.scss */
  .projectItemButton {
    position: absolute;
    margin-bottom: 3px;
    right: 0px;
    margin-right: 12px;
  }

  /* line 466, ../sass/screen.scss */
  #blocks {
    width: 90px;
    height: 120px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
    position: relative;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    margin-left: 30px;
  }

  /* line 479, ../sass/screen.scss */
  .listButto {
    bottom: 0px;
    width: 50px;
    height: 30px;
    margin-left: -18px;
    margin-bottom: 40px;
    left: 40px;
    position: absolute;
    z-index: 2;
    background-color: #ff5026;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 8px;
    padding: 5px;
    text-align: center;
  }

  /* line 494, ../sass/screen.scss */
  .controlButtons {
    width: 70px;
    height: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-right: 0px;
    padding-left: 3px;
  }

  /* line 503, ../sass/screen.scss */
  .image {
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 50px;
  }

  /* line 511, ../sass/screen.scss */
  .nameListButton {
    font-family: "Merriweather", serif;
    font-size: 12px;
  }

  /****Education****/
  /* line 518, ../sass/screen.scss */
  .infoAboutMe {
    position: relative;
  }

  /* line 522, ../sass/screen.scss */
  .mainDisplyPic {
    z-index: 1;
    height: 600px;
  }

  /* line 527, ../sass/screen.scss */
  .formAboutme {
    bottom: 500px;
    z-index: 2;
    box-shadow: 5px 5px 0px rgba(255, 80, 38, 0.37);
    width: 80vw;
    height: 550px;
    border-radius: 3%;
    border: 2px outset #ff5026;
  }

  /* line 538, ../sass/screen.scss */
  .nameAbounme {
    width: 350px;
    z-index: 2;
    color: #49505F;
    bottom: 510px;
    font-family: 'Merriweather', serif;
    font-size: 25px;
  }

  /* line 547, ../sass/screen.scss */
  .list {
    color: black;
    position: absolute;
    margin: 20px;
    padding-bottom: 2px;
    width: 60vw;
  }

  /* line 555, ../sass/screen.scss */
  hr {
    margin-top: 0px;
    width: 50vw;
  }

  /* line 559, ../sass/screen.scss */
  #aboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 820px;
  }

  /* line 563, ../sass/screen.scss */
  .container#infoAboutme {
    background: rgba(247, 247, 247, 0.99);
    height: 750px;
  }

  /*END Education*/
}
