@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*╨а╨░╨╖╨╝╨╡╤А ╨│╨╗╨░╨▓╨╜╨╛╨│╨╛ ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨░ ╨┐╨╡╤А╨▓╨╛╨╣ ╤Б╨╡╨║╤Ж╨╕╨╕*/
/*Font color headers names*/
/*╨ж╨▓╨╡╤В ╤И╤А╨╕╤Д╤В╨╛╨▓ ╨╛╤Б╨╜╨╛╨▓╨╜╨╛╨│╨╛ ╤В╨╡╨║╤Б╤В╨░*/
/*╨Ю╤В╤Б╤В╤Г╨┐╤Л ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨╛╨▓*/
/*╨а╨░╨╖╨╝╨╡╤А ╤И╤А╨╕╤Д╤В╨╛╨▓ ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨╛╨▓*/
/*╨в╨╕╨┐ ╤И╤А╨╕╤Д╤В╨╛╨▓*/
/*╨Я╨╡╤А╨▓╨░╤П ╤Б╨╡╨║╤Ж╨╕╤П*/
/* line 35, ../sass/screen.scss */
h1#name {
    margin-top: 15px;
  color: #49505F;
  font-size: 60px;
  text-transform: uppercase;
}

/* line 42, ../sass/screen.scss */
h4#work {
  color: #49505F;
  font-size: 25px;
  padding-bottom: 20px;
}

/*╨Т╤В╨╛╤А╨░╤П ╤Б╨╡╨║╤Ж╨╕╤П*/
/* line 51, ../sass/screen.scss */
.menu-categoriesnamesOfAll-title {
  font-family: "Merriweather", serif;
  font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
  color: #49505F;
}

/*╨Я╨╛╤Б╨╗╨╡╨┤╨╜╤П╤П ╤Б╨╡╨║╤Ж╨╕╤П ╨║╨╛╨╜╤В╨░╨║╤В╨╛╨▓*/
/* line 67, ../sass/screen.scss */
.card-title {
  font-family: "Merriweather", serif;
}

/***Contact form***/
/* line 73, ../sass/screen.scss */
.contact-content h1 {
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
}

/* line 80, ../sass/screen.scss */
.contact-content p {
  background: rgba(132, 120, 120, 0.71) none repeat scroll 0 0;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* line 90, ../sass/screen.scss */
  h1#name {
    color: #49505F;
    font-size: 45px;
    text-transform: uppercase;
  }

    /* line 95, ../sass/screen.scss */
  h4#work {
    color: #49505F;
    font-size: 40px;
    text-shadow: 1px 1px #333;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* line 103, ../sass/screen.scss */
  h1#name {
      margin-top: 10px;
    color: #49505F;
      font-size: 35px;
    text-transform: uppercase;
  }

    /* line 109, ../sass/screen.scss */
  h4#work {
    color: #49505F;
      font-size: 25px;
  }

    /* line 114, ../sass/screen.scss */
    .category-tileWorks {
        background-color: #ef5612;
        border: 2px solid #3F0C1F;
        overflow: hidden;
        width: 200px;
        height: 350px;
        padding: 0px;
  }
}
/********** Extra small devices only **********/
@media (min-width: 479px) and (max-width: 767px) {
    /* line 128, ../sass/screen.scss */
  .category-tile-project {
      width: 210px;
      height: 415px;
    margin-bottom: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  }

    /* line 136, ../sass/screen.scss */
  .card-body {
      background: rgba(247, 247, 247, 0.99);
      position: relative;
      padding-bottom: 0px;
      margin-top: 0px;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 12px;
      width: 210px;
      height: 282px;
  }

    /* line 147, ../sass/screen.scss */
    .projectItemButton {
        font-size: 10px;
        width: 100px;
        height: 30px;
        position: absolute;
        margin-left: 0px;
        margin-bottom: 3px;
        right: 0px;
        margin-right: 12px;
    }

    /* line 157, ../sass/screen.scss */
    .card-title {
        margin-bottom: 0px;
    }

    /* line 160, ../sass/screen.scss */
    .card-text {
        margin-top: 0px;
        font-size: 14px;
        height: 200px;
    }

    /* line 166, ../sass/screen.scss */
  .imgProject {
      margin-bottom: 2px;
      width: 210px;
      height: 130px;
  }

    /* line 171, ../sass/screen.scss */
  h1#name {
    color: #49505F;
    font-size: 35px;
    text-transform: uppercase;
  }

    /* line 176, ../sass/screen.scss */
  h4#work {
    text-align: center;
    color: #49505F;
  }
}

@media (max-width: 478px) {
    /* line 182, ../sass/screen.scss */
    .col-xxs-12 {
        background: rgba(247, 247, 247, 0.99);
        margin-bottom: 30px;
    }

    /* line 188, ../sass/screen.scss */
    .category-tile-project {
        margin: auto;
        width: 250px;
        height: 450px;
        background-color: rgba(247, 247, 247, 0.99);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
    }

    /* line 196, ../sass/screen.scss */
    .card-body {
        background: rgba(247, 247, 247, 0.99);
        position: relative;
        padding-bottom: 0px;
        margin-top: 0px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 12px;
        width: 250px;
        height: 219px;
    }

    /* line 207, ../sass/screen.scss */
    .imgProject {
        width: 250px;
        height: 230px;
    }

    /* line 212, ../sass/screen.scss */
    .projectItemButton {
        position: absolute;
        margin-bottom: 3px;
        right: 0px;
        margin-right: 12px;
    }
}
