@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*╨а╨░╨╖╨╝╨╡╤А ╨│╨╗╨░╨▓╨╜╨╛╨│╨╛ ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨░ ╨┐╨╡╤А╨▓╨╛╨╣ ╤Б╨╡╨║╤Ж╨╕╨╕*/
/*Font color headers names*/
/*╨ж╨▓╨╡╤В ╤И╤А╨╕╤Д╤В╨╛╨▓ ╨╛╤Б╨╜╨╛╨▓╨╜╨╛╨│╨╛ ╤В╨╡╨║╤Б╤В╨░*/
/*╨Ю╤В╤Б╤В╤Г╨┐╤Л ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨╛╨▓*/
/*╨а╨░╨╖╨╝╨╡╤А ╤И╤А╨╕╤Д╤В╨╛╨▓ ╨╖╨░╨│╨╛╨╗╨╛╨▓╨║╨╛╨▓*/
/*╨в╨╕╨┐ ╤И╤А╨╕╤Д╤В╨╛╨▓*/
/*╨Я╨╡╤А╨▓╨░╤П ╤Б╨╡╨║╤Ж╨╕╤П*/
/* line 35, ../sass/screen.scss */
h1#name {
  margin-top: 10px;
  color: #49505F;
  font-size: 60px;
  text-transform: uppercase;
}

/* line 42, ../sass/screen.scss */
h4#work {
  color: #49505F;
  font-size: 25px;
  padding-bottom: 20px;
}

/*╨Т╤В╨╛╤А╨░╤П ╤Б╨╡╨║╤Ж╨╕╤П*/
/* line 51, ../sass/screen.scss */
.menu-categoriesnamesOfAll-title {
  font-family: "Merriweather", serif;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #49505F;
}

/*╨Я╨╛╤Б╨╗╨╡╨┤╨╜╤П╤П ╤Б╨╡╨║╤Ж╨╕╤П ╨║╨╛╨╜╤В╨░╨║╤В╨╛╨▓*/
/* line 66, ../sass/screen.scss */
.card-title {
  font-family: "Merriweather", serif;
}

/***Contact form***/
/* line 72, ../sass/screen.scss */
.contact-content h1 {
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
}

/* line 79, ../sass/screen.scss */
.contact-content p {
  background: rgba(132, 120, 120, 0.71) none repeat scroll 0 0;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 89, ../sass/screen.scss */
  h1#name {
    color: #49505F;
    font-size: 45px;
    text-transform: uppercase;
  }

  /* line 94, ../sass/screen.scss */
  h4#work {
    color: #49505F;
    font-size: 40px;
    text-shadow: 1px 1px #333;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 102, ../sass/screen.scss */
  h1#name {
    color: #49505F;
    font-size: 40px;
    text-transform: uppercase;
  }

  /* line 107, ../sass/screen.scss */
  h4#work {
    color: #49505F;
    font-size: 30px;
  }
}
/********** Extra small devices only **********/
@media (min-width: 100px) and (max-width: 767px) {
  /* line 117, ../sass/screen.scss */
  h1#name {
    color: #49505F;
    font-size: 35px;
    text-transform: uppercase;
  }

  /* line 122, ../sass/screen.scss */
  h4#work {
    text-align: center;
    color: #49505F;
  }
}
